
@{
    ViewBag.Title = "Index";
}

<div id="container" class="container highlightBackground">
    <div class="jumbotron center" style="margin-bottom:0;padding-bottom:5px;padding-top:5px;">
        <h1 id="jumboTitle">An Demo of the Microsoft Face API</h1>
    </div>
    <div class="row info center" style="margin-top: 0;">

        <img src="~/Images/faceLogo.png" />
        <ul>
            <li>Face Detection</li>
            <li>Persons and Person Groups</li>
            <li>Facial Recognition</li>
        </ul>
    </div>
</div>